{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
		About
{% endblock %}

{% block body_block %}
<div>
	<img src="{{ MEDIA_URL}}about.png" alt="Glasgow Skyline"/>
	<h1>About Us</h1>
</div>

<div>
	<p>WhiskYouAway brings you the best events and attractions that Scotland has to offer! 
	Browse through our various events to view information, photos and reviews of the latest events and most exciting attractions in the country.
	</p>
	<h2>Why Sign Up?<br/></h2>
	<p><b>Have Your Say</b><br/>
		When you sign up for an account with WhiskYouAway, you will be able to write reviews about any of the events or attractions featured on the website.</p>

	<p><b>Get Filtered Content</b><br/>
		You will be able to choose your favourite categories from the list and view events based on your choice.</p>
		
	<p><b>Meet Like-Minded Travellers!</b><br/>
		Our 'Organise Meet-Ups' feature allows you to communicate with others who wish to attend the same events. This is perfect for solo travellers visiting Scotland, or those who want to meet new friends with similar interests!</p>
	
</div>
{% endblock %}

