{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Contact Us  
{% endblock %}

{% block body_block %}
<div>
        <h2>Advert</h2>
        <br />
        <br />
        <br />
		<form id="advert_form" method="post" action="{% url 'adverts' %}">
            
            <!-- <input type="textarea" rows="8" cols="100" placeholder="Enter Your Question" onfocus="clearContent(this)"> -->
            <textarea id="textarea" rows="8" cols="100" placeholder="Enter Your Advert Here..." onfocus="clearContent(this)" form="advert_form"></textarea>
<br>  
<br>
<input type="submit" name="Submit"> {% csrf_token %}
</form>
</div>
{% endblock %}