
{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}
{% block title_block %}
    	Autumn Fungi and Wild Food Foraging Walk
{% endblock %}

{% block body_block %}
<div>
	<h1>Autumn Fungi and Wild Food Foraging Walk</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}autumn_fungi_walk.jpg" alt="Autumn Fungi and Wild Food Foraging Walk"/>
</div>
<div>
Explore the autumn fungi and wild food with a 3 hour walk with Mark Williams of Galloway Wild Foods.
</div>
<div> 
	<a href="http://www.gallowaywildfoods.com/product/autumn-fungi-wild-food-foraging-walk-dumfries/">For more information, click here!</a>
</div>
{% endblock %}