{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	Bard in the Botanics
{% endblock %}

{% block body_block %}
<div>
	<h1>Bard in the Botanics</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}bard_botanics.jpg" alt="Bard in the Botanics" height="300" width="500"/>
</div>
<div class="blurb">
	Bard in the Botanics is Scotland's Premier Shakespeare company. Every year, it performs a number of Shakespeare's plays in the beautiful surroundings of Glasgow's Botanic Gardens. Don't worry if it rains, they'll just head inside the Kibble Palace! To see what's on offer this year, check out the link below.
</div>
<div> 
	<a href="https://www.bardinthebotanics.co.uk">Click here to find out more</a>
</div>
{% endblock %}