{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Barrowland Ballroom
{% endblock %}

{% block body_block %}
<div>
	<h1>The Barrowland Ballroom</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}barrowland_ballroom.jpg" alt="Barrowland Ballroom" height="300" width="500"/>
    </div>
    <div class="blurb">
        Arguably Glasgow's most iconic gig venue, any music fan should not pass up a night in the Barrowlands! No matter the band, there is always an electric atmosphere. Plus, the venue is easily accessible from Central Station.
    </div>
    <div>
        <a href="http://barrowland-ballroom.co.uk/">Click here to learn more</a>
    </div>
{% endblock %}