<!DOCTYPE html>
{% load whiskyouaway_template_tags %}
{% load staticfiles %}

<html>
    <head>
        <title>
            {% block title_block %}
                Whisk You Away
            {% endblock %}
        </title>
    </head>
    <body>
        {% block logo_block %}   
        <script> function GoToHomePage()
                {
                  window.location = '/';   
                }</script> 
            <img src="{% static "images/logo.jpg" %}"
            alt="Whisk You Away" onclick="GoToHomePage()"/>
        {% endblock %}
        <hr />
        <div>
            <ul>
            {% block body_block %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/whiskyouaway/">Logout</a></li>
                <li><a href="{% url 'meet_up' %}">Organise Meet Ups</a></li> 
                      <li><a href="{% url 'auth_password_change' %} "> Change Password</a></li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">Sign In</a></li>
                <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
               {% endif %}
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'categories' %}">Categories</a></li>
                <li><a href="{% url 'view_attractions' %}">View Attractions</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
            {% endblock %}
            </ul>
        </div>
        <hr />
        <div>
            <ul>
            {% block sidebar_block %}
                {% if user.is_authenticated %}
				<li><a href="{% url 'profile' %}">Profile</a></li>
				<li><a href="{% url 'auth_logout' %}?next=/whiskyouaway/">Logout</a></li>
				<li><a href="{% url 'meet_up' %}">Organise Meet Ups</a></li> 
                <li><a href="{% url 'auth_password_change' %} "> Change Password</a></li>
                 {% else %}
				<li><a href="{% url 'auth_login' %}">Sign In</a></li>
				<li><a href="{% url 'registration_register' %}">Sign Up</a></li>
				 {% endif %}
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
				<li><a href="{% url 'categories' %}">Categories</a></li>
				<li><a href="{% url 'view_attractions' %}">View Attractions</a></li>
				<li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
            {% endblock %}
            </ul>
        </div>
        <div>
            {% block category_block %}
                {% get_category_list %}
            {% endblock %}
        </div>    
    </body>
</html>