{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	Blue Dog
{% endblock %}

{% block body_block %}
<div>
	<h1>Blue Dog</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}blue_dog.jpg" alt="Blue Dog"/>
</div>
<div>
	If you enjoy cocktails, Blue Dog is the place to go to in Glasgow. With live entertainment and an extensive drinks list, you're sure not to be disappointed.
</div>
<div> 
	<a href="https://www.bluedogglasgow.co.uk/">To book a table, click here!</a>
</div>
{% endblock %}