{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}


{% block title_block %}
    	Scotland's Boat Show
{% endblock %}

{% block body_block %}
<div>
	<h1>Scotland's Boat Show</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}boat_show.png" alt="Scotland's Boat Show"/>
</div>
<div>
	With boats on SAIL, both pre-owned and brand-new, and a variety of exhibitors on offer, there's plenty on offer for a nautical enthusiast to enjoy.
</div>
<div> 
	<a href="http://www.scotlandsboatshow.co.uk">Click here to find out more</a>
</div>
{% endblock %}