{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	British Swimming Championships
{% endblock %}

{% block body_block %}
<div>
	<h1>British Swimming Championships</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}british_swimming.jpg" alt="British Swimming Championships" height="300" width="500"/>
</div>
<div class="blurb">
	Watch the best swimmers Britain has to offer battle it out to be named British Champion in Glasgow this April.
</div>
<div> 
	<a href="https://www.britishswimming.org/events-and-tickets/british-swimming-championships-2019/">Click here to find out more</a>
</div>
{% endblock %}