{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Burnsfest 2019
{% endblock %}

{% block body_block %}
<div>
	<h1>Burnsfest! 2019</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}burnsfest.jpg" alt="Burnsfest" height="300" width="500"/>
    </div>
    <div class="blurb">
        Burnsfest returns to Rozelle Park in Ayr in May 2019. This is a great family day out with food and craft stalls, poetry readings and live music from local bands.
    </div>
    <div>
        <a href="http://www.burnsfestival.com/burnsfest/">Click here to learn more</a>
    </div>
{% endblock %}