{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	Maison de Moggy
{% endblock %}

{% block body_block %}
<div>
	<h1>Dog Jog</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}cat_cafe.jpg" alt="Maison de Moggy" height="300" width="500"/>
</div>
<div class="blurb">
	If you love cats and cafés, then give Scotland's first ever cat café a try. Maison de Moggy offers a homey café experience with the added benefit of being able to relax in the company of furry friends. It can get busy, so be sure to make a booking using the link below to guarantee your spot.
</div>
<div> 
	<a href="https://www.maisondemoggy.com/">Click here!</a>
</div>
{% endblock %}