{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	Cathouse
{% endblock %}

{% block body_block %}
<div>
	<h1>Cathouse</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}cathouse.jpg" alt="Cathouse"/>
</div>
<div>
	Not into mainstream music? That's okay, give the Cathouse a try. It's not just a typical rock club, with three rooms on offer, there's a wide mix of tunes on offer.
</div>
<div> 
	<a href="https://cathouse.co.uk/">To learn more, click here!</a>
</div>
{% endblock %}