{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Premier League of Darts
{% endblock %}

{% block body_block %}
<div>
	<h1>Premier League of Darts</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}darts.jpg" alt="Premier League of Darts" height="300" width="500"/>
</div>
<div class="blurb">
	The Premier League of Darts is well known for its lively atmosphere. For your chance to experience it in Aberdeen, click the link below.
</div>
<div> 
	<a href="https://www.pdc.tv/tournament/unibet-premier-league">Click here to find out more</a>
</div>
{% endblock %}