{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 
{% block title_block %}
    	Dog Jog
{% endblock %}

{% block body_block %}
<div>
	<h1>Dog Jog</h1>
</div>
<div class="picture">
	<img src="{{ MEDIA_URL}}dog_jog.png" alt="Dog Jog" height="300" width="500" />
</div>
<div class="blurb">
	Looking to get fit and spend time with your dog? Dog Jog helps you to raise money for others, get fit and spend time with your canine buddy. What's not to love?! For more information, check out the link below.
</div>
<div> 
	<a href="https://www.dogjog.co.uk/glasgow/">For more information, click here!</a>
</div>
{% endblock %}