{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Dog Lover's Show
{% endblock %}

{% block body_block %}
<div>
	<h1>Dog Lover's Show</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}dog_lover.jpg" alt="Dog Lover's Show, Glasgow"/>
</div>
<div>
	Do you love dogs? If so, then the Dog Lover's Show is the place for you to be. There are fun-filled displays and events from some of the most talented dogs in the UK on offer for the whole family to enjoy. To find out more, click on the link below.
</div>
<div>
	<a href="http://www.thedoglovershow.co.uk">Click here to learn more</a>
</div>
{% endblock %}