{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Dunrobin Castle
{% endblock %}

{% block body_block %}
<div>
	<h1>Dunrobin Castle</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}DunrobinCastle.jpg" alt="Dunrobin Castle" height="300" width="500"/>
    </div>
    <div class="blurb"> 
        The largest house in Northern Scotland, Dunrobin Castle is the family seat of the Clan Sutherland. It dates back to the Middle Ages, with much of its current architecture dating to the 17th century. The castle and grounds are open to the public between April and October, offering falconry displays and tours.
    </div>
    <div>
        <a href="https://www.zigzagonearth.com/dunrobin-castle-scotland/">Click here to learn more</a>
    </div>
{% endblock %}