{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Edinburgh Castle
{% endblock %}

{% block body_block %}
<div>
	<h1>Edinburgh Castle</h1>
</div>

<div>
	<img src="{{ MEDIA_URL }}EdinburghCastle.jpg" alt="Edinburgh Castle"/>
</div>
<div>
    Edinburgh Castle is situated in the heart of Scotland's capital and has been occupied by royalty since at least the 12th century. It is Scotland's most visited tourist attraction, gaining over 2 million visitors in 2017! Perhaps its most iconic feature is the One o'clock Gun display which takes place daily except Sundays. Come and visit Scotland's most famous castle, open to the public all year round!
</div>
<div>
	<a href="https://www.zigzagonearth.com/visit-edinburgh-castle-scotland/">Click here to learn more</a>
</div>
{% endblock %}

