{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Eilean Donan Castle
{% endblock %}

{% block body_block %}
<div>
	<h1>Eilean Donan Castle</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}EilanDonanCastle.jpg" alt="Eilean Donan Castle" height="300" width="500"/>
    </div>
    <div class = "blurb">
        Come and visit Scotland's most recognisable castle in the heart of the West Highlands! Stunning landscapes surround this iconic landmark, and the grounds also house a visitor centre and cafe.
    </div>
    <div>
        <a href="https://www.zigzagonearth.com/eilean-donan-castle-scotland/">Click here to learn more</a>
    </div>
{% endblock %}