{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Beltane Fire Festival
{% endblock %}

{% block body_block %}
<div>
	<h1>Beltane Fire Festival</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}fire_festival.jpg" alt="Beltane Fire Festival"/>
</div>
<div>
	For a modern interpritation of traditional a Celtic festival, head to the Beltane Fire Festival. There'll be fire, drumming and acrobatics galore!
</div>
<div> 
	<a href="www.beltane.org">Click here to find out more</a>
</div>
{% endblock %}