{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Frankenstein
{% endblock %}

{% block body_block %}
<div>
	<h1>Frankenstein</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}frankenstein.jpg" alt="Frankenstein" height="300" width="500"/>
</div>
<div class="blurb">
	For a fun and friendly pub in Edinburgh, try Frankenstein. Situated in  the heart of the Old Town, there's lots of food and drinks to try
</div>
<div> 
	<a href="https://www.frankensteinedinburgh.co.uk/">For larger bookings, click here!</a>
</div>
{% endblock %}