{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	The Gin to My Tonic Show
{% endblock %}

{% block body_block %}
<div>
	<h1>The Gin to My Tonic Show</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}gin_to_my_tonic.jpeg" alt="The Gin to My Tonic Show"/>
</div>
<div>
	Love gin? Then The Gin To My Tonic festival is the place you'll want to be going to.
</div>
<div> 
	<a href="https://thegintomytonic.com/event/the-gin-to-my-tonic-show-glasgow-15th-17th-march-2019/">To book your ticket, click here!</a>
</div>
{% endblock %}