{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	GlasGLOW
{% endblock %}

{% block body_block %}
<div>
	<h1>GlasGLOW</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}glasglow.jpg" alt="GlasGLOW"/>
</div>
<div>
	A light show like no other! Set against the beautiful backdrop of Glasgow's Botanic Gardens, GlasGLOW will awaken your senses and spark your imagination. To find out more, check out the link below.
</div>
<div> 
	<a href="https://www.itison.com/glasglow">Click here to find out more</a>
</div>
{% endblock %}