{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Highland Food and Drink Festival
{% endblock %}

{% block body_block %}
<div>
	<h1>Highland Food and Drink Festival</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}highland_food_and_drink_festival.png" alt="highland_food_and_drink_festival"/>
    </div>
    <div>
        EC Blurb
    </div>
    <div>
        <a href="https://www.eventbrite.co.uk/e/highland-food-drink-festival-tickets-53133201837">Click here to learn more</a>
    </div>
{% endblock %}