{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}
{% block title_block %}
    	Highland Haggis Festival
{% endblock %}

{% block body_block %}
<div>
	<h1>Highland Haggis Festival</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}highland_haggis_festival.jpg" alt="Highland Haggis Festival"/>
</div>
<div>
Come along to Highland Haggis Festival to try out true authentic Scottish haggis
</div>
<div> 
	<a href="https://www.highlandhaggisfest.co.uk/">For more information, click here!</a>
</div>
{% endblock %}