{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Home
{% endblock %}

{% block body_block %}
<div class="jumbotron">
		<center><img src="{% static 'images/logo2.jpg' %}" alt="whiskyouaway"/>
		</div></center>
<div class="display-3 w3-aqua">
	<center><h1 class="display-3">Welcome!</h1></center>
	<center><h1 class="display-3">Fàilte!</h1></center>
</div>
<div class="wrapper" style = "padding-left:275px;">
<div class="col-lg-8" style="padding: 15px;">
		<div class = "w3-card-4">
			<center><h1 class="display-3 w3-aqua"><u>Trending Events</u></h1></center>
			{% for Events in eventsList %}
			<div class="containter event {{ Events.categories }}">
				<div class="row">
					<div class="col-lg-5" style="padding: 15px;">
						<img class="event-image" height="100" width="180" src="{{ MEDIA_URL }}/{{ Events.image }}"
							 alt="Picture of {{ Events.name}}"/></div>
					<div class="col-lg-7" style="padding: 15px;">
						<a href="{% url 'show_events' Events.slug %}"><h2>{{ Events.name }}</h2></a>
						<p><b>Category:</b> <i> {{ Events.categories }}</i></p>
						<p><b>Likes:</b> <i> {{ Events.likes }}</i></p>
						<footer class="w3-container w3-aqua">
							<p></p>
						</footer>
					</div>
				</div>
				<hr>
			</div>
			{% endfor %}
			<br><br><br>
		</div>
	</div>
</div>
</div>
</div>
</div>
{% endblock %}

