{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	Horse Trials
{% endblock %}

{% block body_block %}
<div>
	<h1>Blair Castle International Horse Trials</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}horse_trials.jpg" alt="International Horse Trials" height="300" width="500"/>
</div>
<div class="blurb">
	If you love all things equestrian, then you should visit Scotland's premier equestrian event. Situated in the picturesque Atholl Estates and with both eventing and non-eventing competitions on offer, you'll definitely find something you enjoy.
</div>
<div> 
	<a href="https://www.blairhorsetrials.co.uk">Click here to find out more</a>
</div>
{% endblock %}