{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
Locate Your Interests on Map!
{% endblock %}


{% block body_block %}
<div class="header">
        
</div>
<br><br>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<div class="row">
    <div id = "head" class="col-lg-2"></div>
    <h1>Locate Your Interests...</h1>
</div>
<br><br><br>

<div class="row">
    
    <div id="phrase" class="col-lg-4" ></div>
    <h5>Adventure awaits, go find it on map!</h5><br>
</div>
      
<center>
  <br>
  <div id="map"></div>
  <p>
  <input id="pac-input" class="controls"  type="text" placeholder="Please type here" /><br><br>
  </p><br>
    <br><br>
</center>
</div></div><br><br><br><br>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCecXviYEzhESA1LPxrO5Q__5ceCta86WU&libraries=places&callback=initAutocomplete"
         async defer></script>
         <script type="text/javascript" src="{% static 'js/map.js' %}"></script>

<link href="{% static 'css/map.css' %}" rel="stylesheet" type="text/css">

         {% endblock %}  