{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	Highland Food and Drink Festival
{% endblock %}

{% block body_block %}
<div>
	<h1>Inveraray Castle</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}InverarrayCastle.jpg" alt="Inveraray Castle"/>
    </div>
    <div>
        Inveraray Castle, situated on the shores of Loch Fyne, is an example of early Gothic Revival architecture in Scotland. The castle is home to a 16-acre garden and a collection of over 1300 antique weapons. It is open to the public between April and October.
    </div>
    <div>
        <a href="https://www.zigzagonearth.com/inveraray-castle-scotland/">Click here to learn more</a>
    </div>
{% endblock %}