{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Kelburn Castle
{% endblock %}

{% block body_block %}
<div>
	<h1>Kelburn Castle</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}KelburnCastle.jpg" alt="Kelburn Castle" height="300" width="500"/>
    </div>
    <div class="blurb">
        Kelburn Castle is a perfect family day out with plenty for kids (and adults) to do including pony trekking, an indoor playbarn, outdoor walks and a woodland adventure area.
    </div>
    <div>
        <a href="https://www.kelburnestate.com">Click here to learn more</a>
    </div>
{% endblock %}