{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Kilchurn Castle
{% endblock %}

{% block body_block %}
<div>
	<h1>Kilchurn Castle</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}KilchurnCastle.jpg" alt="Kilchurn Castle" height="300" width="500"/>
    </div>
    <div class="blurb">
        The ruins of 15th century Kilchurn castle, nestled within the shores of stunning Loch Awe, are a must-see for any history buffs visiting Scotland. 
    </div>
    <div>
        <a href="https://www.zigzagonearth.com/kilchurn-castle-loch-awe-scotland/">Click here to learn more</a>
    </div>
{% endblock %}