{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    King Tut's Wah Wah Hut
{% endblock %}

{% block body_block %}
<div>
	<h1>King Tut's Wah Wah Hut</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}king_tuts.jpg" alt="King Tut's Wah Wah Hut"/>
    </div>
    <div>
        King Tuts has been home to some of Glasgow's greatest gigs! Music lovers cannot miss out on a night here in Scotland's city of music.
    </div>
    <div>
        <a href="https://www.kingtuts.co.uk/">Click here to learn more</a>
    </div>
{% endblock %}