{% load staticfiles %}
<html>
	<head>
		<title>Whisk You Away</title>
	</head>
<body>
		<div>
			<img src="{% static "images/logo.jpg" %}"
			alt="Whisk You Away" />
		</div>
		<div> 
		<h1>Log in to Whisk You Away</h1>
		<!-- Need to create something so that the categories are ordered by date -->
		</div>
		<div>
			<ul>
			<!-- {% if user.is_authenticated %}	 -->	
				<li><a href="whiskyouaway/profile.html">Profile</a></li>
				<li><a href="whiskyouaway/logout.html">Logout</a></li>
				<li><a href="whiskyouaway/meet_up.html">Organise Meet Ups</a></li> 
			<!-- {% else %} -->
				<li><a href="whiskyouaway/login.html">Sign In</a></li>
				<li><a href="whiskyouaway/register.html">Sign Up</a></li>
				<li><a href="whiskyouaway/contact_us.html">Contact Us</a></li>
				<li><a href="whiskyouaway/categories.html">Categories</a></li>
				<li><a href="whiskyouaway/view_attractions.html">View Attractions</a></li>
			<!-- {% endif %} -->
				<li><a href="whiskyouaway/about.html">About Us</a></li>
				<li><a href="whiskyouaway/home.html">Home</a></li>
			</ul>
		</div>
		<!-- <div> -->
			<!-- <p>Visits: {{ visits }}</p> -->
			<!-- Left the visits bit in for now, but probably not necessary -->
		<!-- </div> -->
</body>
</html>