{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Meet Up
{% endblock %}

{% block body_block %}
<div>
	<h1>Arrange a Meet Up</h1>
	Looking to meet like-minded travellers with similar interests? 
	You've come to the right place! <br/>
	Search our adverts to find people
	attending the same events or <a href="{% url 'adverts' %}">post your own advert.</a>
	<br/>
	<br/>
	<h2>Current Adverts</h2>
			{% for Advert in advertList %}
			{{ Advert.advertText }}
			<br/>
			<a href="{{ Advert.email }}">{{ Advert.email }}</a>
			<br/>
			<br/>
			{% endfor %} 
</div>
{% endblock %}
