{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Meet Up
{% endblock %}

{% block body_block %}

<div>
	<h1>Arrange a Meet Up</h1>
	Looking to meet like-minded travellers with similar interests? 
	You've come to the right place! <br/>
	Search our adverts to find people
	attending the same events or <a href="{% url 'adverts' %}"><u><b>post your own advert.</b></u></a>
	
	
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search here.." title="Type something">
	<br/>
	<h2>Current Adverts</h2>
			{% for Advert in advertList %}
			<div class = "w3-card-4">
			<header class="w3-container w3-indigo">
				<p></p>
			</header>
			<div class="w3-container">
			<p>{{ Advert.advertText }}</p>
			</div>
			<footer class = "w3-container w3-indigo">
			<h5><a href="mailto:{{ Advert.email }}?subject=Whisk You Away Meet Up">{{ Advert.email }}</a></h5>
			</footer>
			</div>
			<br/>
			<br/>
			{% endfor %} 



</div>
<script type="text/javascript" src="{% static 'js/meetup.js' %}"></script>
<link href="{% static 'css/meetup.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
