{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Monikie Park
{% endblock %}

{% block body_block %}
<div>
	<h1>Monikie Park</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}MonikiePark.jpg" alt="Monikie Park" height="300" width="500"/>
    </div>
    <div class="blurb">
        This is the place to be for a family day out in summer! Go on a woodland walk, spend some time birdwatching and then make use of the barbecue hire for an outdoor feast. Kids will enjoy the adventure play area too.
    </div>
    <div>
        <a href="http://archive.angus.gov.uk/leisureaa/rangerservice/monikie.htm">Click here to learn more</a>
    </div>
{% endblock %}