{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Scotland's Big Nature Festival
{% endblock %}

{% block body_block %}
<div>
	<h1>Scotland's Big Nature Festival</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}nature_festival.jpg" alt="Scotland's Big Nature Festival"/>
</div>
<div>
	If you enjoy the occasional dabbling in time travel, why not check out Scotland's Big Nature Festival to learn more about nature in Scotland
</div>
<div> 
	<a href="https://www.rspb.org.uk/reserves-and-events/events-dates-and-inspiration/events/scotlands-big-nature-festival/">Click here to find out more</a>
</div>
{% endblock %}