{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Orkney Festival
{% endblock %}

{% block body_block %}
<div>
	<h1>Orkney Festival</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}orkney_folk_festival.jpg" alt="Orkney Festival" height="300" width="500"/>
    </div>
    <div class="blurb">
        Orkney Folk Festival is a traditional Scottish festival that exhibits classic folk and jazz performances. The festival is family friendly and also includes ceilidhs and dances.
    </div>
    <div>
        <a href="/whiskyouaway/categories/music/orkney_festival">Click here to learn more</a>
    </div>
{% endblock %}