{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Outdoor Explore
{% endblock %}

{% block body_block %}
<div>
	<h1>Outdoor Explore</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}outdoor_explore.jpg" alt="Outdoor Explore" height="300" width="500"/>
</div>
<div class="blurb">
	Enjoy Scotland's beautiful outdoors whilst kayaking! What better way to get up close to nature? There are various locations available throughout the east coast of Scotland, so check out the link below to learn more.
</div>
<div> 
	<a href="https://www.outdoorexplore.co.uk">Click here to learn more</a>
</div>
{% endblock %}