{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	Penicuik Market
{% endblock %}

{% block body_block %}
<div>
	<h1>Penicuik Market</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}penicuik_market.jpg" alt="Penicuik Market" height="300" width="500"/>
</div>
<div  class="blurb">
A farmers market selling fresh grown fruit and vegetables. However, there are also stalls for jewellery, soaps and flowers!
</div>
<div> 
	<a href="https://www.visitscotland.com/info/events/penicuik-market-p1598541">For more information, click here!</a>
</div>
{% endblock %}