}{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Register
{% endblock %}

{% block body_block %}

	<h1>Register with Whisk You Away</h1>
	{%if registered %}
	Thank you for registering!
	<a href="{% url 'index' %}">Return to the homepage</a><br/>
	{% else %}
	Whisk You Away says register here!<br />
	<form id = "user-form" method="post" action="{% url 'register' %}"enctype="multipart/form-data">
		{% csrf_token %}
		{{user_form.as_p}}
		{{profile_form.as_p}}
		<input type="submit" name="submit" value="Register">
	</form>
{% endif %}
{% endblock %}