{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}
{% block title_block %}
Review
{% endblock %}

{% block body_block %}
	<div>
		<form id="review_form" method="post" action="{% url 'review' %}">
	
			<textarea rows="8" cols="100" form="review">
Enter your review here...</textarea>
<br>
<h2>Rating</h2>
  <input type="radio" value="5"> 5 - Ecellent <br>
  <input type="radio" value="4"> 4<br>
  <input type="radio" value="3"> 3<br>
    <input type="radio" value="2"> 2<br>
  <input type="radio"  value="1"> 1 - Poor<br>
  
<br>
<input type="submit" name="Submit">
		</form>
	</div>
{% endblock %}