{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

 {% if user.is_authenticated %}
                <center>
                    <h1>Leave a Review...</h1>

                    <form id="review_form" method="post" action="{% url 'review' %}">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {{ hidden.errors }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br>
                        {{ field }}<br><br>
                        {% endfor %}

                        <input type="submit" name="submit" value="Post Comment" class="btn"/><br><br>
                    </form>

                    {% else %}
                    {% endif %}
                </center>
                <br><br><br>
            </div>