{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Rob Roy Loop
{% endblock %}

{% block body_block %}
<div>
	<h1>Rob Roy Loop</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}RobRoyLoop.jpg" alt="Rob Roy Loop"/>
    </div>
    <div>
        The Rob Roy Loop through Strathyre forest is a perfect cycling route for an active family. At just under 8 miles long it is perfect for a day's cycling among beautiful forests and lochs, with the chance to see Rob Roy's grave.
    </div>
    <div>
        <a href="https://www.lochlomond-trossachs.org/things-to-do/cycling/cycling-routes/rob-roy-loop/">Click here to learn more</a>
    </div>
{% endblock %}