{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Solheim Cup
{% endblock %}

{% block body_block %}
<div>
	<h1>Solheim Cup</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}solheim_cup.jpg" alt="Solheim Cup, 2019"/>
</div>
<div>
	Scotland is well-known for being the home of golf. This year, it is also home to the biggest event in women's golf! Watch Team Europe take on Team USA at Gleneagles this September. Who will take home the coveted trophy?
</div>
<div> 
	<a href="https://solheimcup2019.com">Click here to find out more</a>
</div>
{% endblock %}