{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	Spirit of Speyside Whisky Festival
{% endblock %}

{% block body_block %}
<div>
	<h1>Spirit of Speyside Whisky Festival</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}spirit_of_speyside.jpg" alt="Spirit of Speyside Whisky Festival" height="300" width="500"/>
</div>
<div class="blurb">
Not only will you be able to enjoy some whisky tasting but there will also be food, active outdoor events and music and performance for you to enjoy!
</div>
<div> 
	<a href="http://www.tennentstours.com/">To book your ticket, click here!</a>
</div>
{% endblock %}