{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Speyside Way
{% endblock %}

{% block body_block %}
<div>
	<h1>Speyside Way</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}SpeysideWay.jpg" alt="Speyside Way" height="300" width="500"/>
    </div>
    <div class="blurb">
        This 107 km route in the Scottish Highlands offers some of the most breathtaking scenery the country has to offer. Follow the river Spey from Aviemore to Buckie on this beautiful trail.
    </div>
    <div>
        <a href="https://cairngorms.co.uk">Click here to learn more</a>
    </div>
{% endblock %}