{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	SPFL
{% endblock %}

{% block body_block %}
<div>
	<h1>Scottish Professional Football League</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}spfl.jpg" alt="SPFL" height="300" width="500"/>
</div>
<div class="blurb">
	Scotland's recent football history may not be as illustrious as in previous years, but it remains a huge part of our culture and an experience not to be missed. Check out the link below to see what teams are in your area.
</div>
<div> 
	<a href="https://spfl.co.uk">Click here to find out more</a>
</div>
{% endblock %}