{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Stirling Castle
{% endblock %}

{% block body_block %}
<div>
	<h1>Stirling Castle</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}StirlingCastle.jpg" alt="Stirling Castle"/>
    </div>
    <div>
        Stirling Castle is one of Scotland's largest and most historically important castles. Many famous historical figures have lived here including Mary Queen of Scots. The castle and grounds are open to the public all year round!
    </div>
    <div>
        <a href="https://www.stirlingcastle.scot">Click here to learn more</a>
    </div>
{% endblock %}