{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Stramash Music Bar
{% endblock %}

{% block body_block %}
<div>
	<h1>Stramash Music Bar</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}stramash.jpg" alt="Stramash Music Bar" height="300" width="500"/>
    </div>
    <div class="blurb">
        Stramash Live Music bar in Edinburgh is a vibrant place for music lovers, with jazz and folk performances among more contemporary gigs. It also offers live sport and a crowd-pleasing gastropub menu.
    </div>
    <div>
        <a href="https://stramashedinburgh.com/">Click here to learn more</a>
    </div>
{% endblock %}