{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Summer Nights
{% endblock %}

{% block body_block %}
<div>
	<h1>Summer Nights at the Bandstand</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}summer_nights.jpg" alt="Summer Nights"/>
    </div>
    <div>
        Summer Nights returns to Kelvingrove Bandstand this year, with indie hits like Father John Misty and The National among the line up. This series of open-air concerts takes place throughout August in Glasgow's beautiful west end.
    </div>
    <div>
        <a href="https://www.ticketmaster.co.uk/Summer-Nights-tickets/artist/1992315">Click here to learn more</a>
    </div>
{% endblock %}