{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %}

{% block title_block %}
    	Tarbert Seafood Festival
{% endblock %}

{% block body_block %}
<div>
	<h1>Tarbert Seafood Festival</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}tarbert_seafood_festival.jpg" alt="Tarbert Seafood Festival" height="300" width="500"/>
</div>
<div class="blurb">
If you are a food lover and enjoy seafood, then this festival is where you would want to be!
</div>
<div> 
	<a href="http://www.tarbertfestivals.co.uk/festival-seafood.php">For more information, click here!</a>
</div>
{% endblock %}