{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Military Tattoo
{% endblock %}

{% block body_block %}
<div>
	<h1>Military Tattoo</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}tattoo.jpg" alt="Military Tattoo"/>
</div>
<div>
	A world-renowned event steeped in Scottish tradition, the Edinburgh Military Tattoo is an event not to be missed. Set against the beautiful backdrop of Edinburgh Castle experience this outdoor event like no other.
</div>
<div> 
	<a href="www.edintattoo.co.uk">Click here to find out more</a>
</div>
{% endblock %}