{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	Tingle
{% endblock %}

{% block body_block %}
<div>
	<h1>Tingle Shooter Bar</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}tingle.jpg" alt="Tingle Shooter Bar"/>
</div>
<div>
	If you like to start off a night out with a shot, try Tingle Shooter Bar for a vibrant atmosphere and a plethora of shots to choose from.
</div>
<div> 
	<a href="https://www.tinglebar.co.uk/">Click here to learn more</a>
</div>
{% endblock %}