{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    TRNSMT
{% endblock %}

{% block body_block %}
<div>
	<h1>TRNSMT</h1>
</div>

<div>
		<img src="{{ MEDIA_URL }}trnsmt.jpg" alt="TRNSMT"/>
    </div>
    <div>
        TRNSMT is Scotland's newest, most exciting festival. Returning in 2019 with a cracking line-up including George Ezra, Stormzy and Years & Years, this year's festival is not to be missed!
    </div>
    <div>
        <a href="https://trnsmtfest.com/">Click here to learn more</a>
    </div>
{% endblock %}