{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    V & A Museum Dundee
{% endblock %}

{% block body_block %}
<div>
	<h1>V & A Museum Dundee</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}VADundee.jpg" alt="VA Museum" height="300" width="500"/>
    </div>
    <div>
        The V & A in Dundee is the first of its kind as Scotland's only design museum. Come and visit this museum to view quirky exhibits of fashion and artwork.
    </div>
    <div class ="blurb">
        <a href="https://www.vam.ac.uk/dundee">Click here to learn more</a>
    </div>
{% endblock %}