{% load staticfiles %}
<html>
	<head>
		<title>Whisk You Away</title>
	</head>
<body>
		<div>
			<img src="{% static "images/logo.jpg" %}"
			alt="Whisk You Away" />
		</div>
		<div> 
		<h1><u>View Attractions Around Scotland</u></h1>
		<!-- Need to create something so that the categories are ordered by date -->
		</div>
		<div>
			<ul>
				<li><a href="whiskyouaway/profile">Profile</a></li>
				<li><a href="whiskyouaway/logout">Logout</a></li>
				<li><a href="whiskyouaway/meet_up">Organise Meet Ups</a></li> 
				<li><a href="whiskyouaway/login">Sign In</a></li>
				<li><a href="whiskyouaway/register">Sign Up</a></li>
				<li><a href="whiskyouaway/contact_us">Contact Us</a></li>
				<li><a href="whiskyouaway/categories">Categories</a></li>
				<li><a href="whiskyouaway/view_attractions">View Attractions</a></li>
				<li><a href="whiskyouaway/about">About Us</a></li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
		<!-- <div> -->
			<!-- <p>Visits: {{ visits }}</p> -->
			<!-- Left the visits bit in for now, but probably not necessary -->
		<!-- </div> -->
</body>
</html>