{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    	West Highland Way
{% endblock %}

{% block body_block %}
<div>
	<h1>West Highland Way</h1>
</div>
<div>
	<img src="{{ MEDIA_URL}}west_highland_way.jpg" alt="West Highland Way" height="300" width="500"/>
</div>
<div class="blurb">
	If you love hiking, the West Highland Way could be the route for you. Scotland is famed for its beautiful scenery, and one of the best ways to experience it is to take on the West Highland Way. The route begins in Milngavie and stretches 96 miles to Fort William, so there is plenty of varied scenery to experience on the way. There are hotels en route too, if camping isn't your scene! To find out more and plan out your trip, check out the link below.
</div>
<div> 
	<a href="https://www.westhighlandway.org">Click here to find out more</a>
</div>
{% endblock %}