{% extends 'whiskyouaway/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Writers Museum
{% endblock %}

{% block body_block %}
<div>
	<h1>Writers' Museum</h1>
</div>

<div>
        <img src="{{ MEDIA_URL }}WritersMuseum.jpg" alt="Writers Museum" height="300" width="500"/>
    </div>
    <div class="blurb">
        Any Scottish literature fans mustn't miss out on the chance to visit this attraction. The museum is a celebration of the lives of Robert Burns, Sir Walter Scott and Robert Louis Stevenson. Open daily from 10am - 5pm.
    </div>
    <div>
        <a href="https://www.edinburghmuseums.org.uk/venue/writers-museum">Click here to learn more</a>
    </div>
{% endblock %}